{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h2 style="text-align: center;">
    <caption>ingresar los datos personales<br>

    </caption>
</h2>
<br>
<div class="contenedorFormulario">
    <form action="" method='POST' style="text-align: center;">
        {% csrf_token %}
        <table style="color: gold; margin: 15px auto;">
            <div>
                {{ form.usuario }}
            </div>
            <div>
                {{ form.nombre }}
            </div>
        </table>
        <br>
        <input type="submit" style="width: 120px; background-color: black; color: gold;">
    </form>
</div>
{% endblock %}